﻿* {
    font-family: sans-serif;
}

.tabela {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabela thead tr {
    background-color: #2C3E50;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tabela th,
.tabela td {
    padding: 12px 15px;
}

.tabela tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabela tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
        border-bottom: 2px solid #2C3E50;
}

.tabela tbody tr.processado-row {
        font-weight: bold;
        color: #009879;
}

.tabela tbody tr.error-row {
        font-weight: bold;
        color: red;
}


