﻿
@{
    ViewData["Title"] = "Inicio";
    <p>@ViewData["Message"]</p>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apuração de infrações por excesso de velocidade (BR)</h2>

<button class="btn btn-primary" id="buttonAPI">Consumir <b>API</b></button>

<button class="btn btn-info" id="buttonGerarDados">Gerar dados <b>localmente</b> </button>

<button class="btn btn-danger" id="buttonLimparDados">Limpar dados</button>

<div class="row">
    <div class="col-md-6">
        <table id="tabela_dados" class="tabela">
            <caption>Dados consumidos</caption>
            <thead>
                <tr>
                    <th>Horário da multa</th>
                    <th>Região</th>
                    <th>Multas registradas</th>
                    <th>Retorno do sensor</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (var Model in Model)   
                    {
                        <tr class="@(Model.Valor == 0 ? "error-row" : "processado-row")">
                            <td>@Model.Timestamp</td>
                            <td>@Model.Tag.Split('.')[1]</td>
                            <td>@Model.Valor</td>
                            <td>@Model.Tag.Split('.')[2] : @(Model.Valor > 0 ? "Processado" : "Erro")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
        <canvas id="char-somatorio" width="800" height="450"></canvas>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $("#buttonAPI").click(function () {
            for (var i = 0; i <= 15; i++) {
                $.getJSON("eventos/get", function (result) {

                    var corpoTabela = $('#tabela_dados').find("tbody");
                    var linha = '';

                    var classe = result.results[0].valor == 0 ? "error-row" : "processado-row";
                    var status = result.results[0].valor == 0 ? "Erro" : "Processado";

                    linha = '<tr class="' + classe + '"> ' +
                        '<td>' + time(result.results[0].timestamp) + '</td> ' +
                        '<td>' + result.results[0].tag.split('.')[1] + '</td>' +
                        '<td>' + result.results[0].valor + '</td> ' +
                        '<td>' + result.results[0].tag.split('.')[2] + ' : ' + status + ' </td> ' +
                        '</tr>';
                    corpoTabela.prepend(linha);

                    var ultima_linha = document.getElementById('tabela_dados').children[2].childElementCount;
                    if (ultima_linha > 15) {
                        document.getElementById('tabela_dados').deleteRow(ultima_linha)
                    };
                });
                setTimeout('', 1000);
            }
          //atualizarGrafico();
          //atualizarGraficoSomatorio(grafoSomatorio);
        });

        //--------------------.NET FUNÇÂO ---------------

        $("#buttonGerarDados").click(function () {
            for (var i = 0; i <= 20; i++) {
                $.getJSON("eventos/GerarDados", function (result) {

                    var corpoTabela = $('#tabela_dados').find("tbody");
                    var linhas = '';

                    var classe = result.valor == 0 ? "error-row" : "processado-row";
                    var status = result.valor == 0 ? "Erro" : "Processado";

                    linhas = '<tr class="' + classe + '"> ' +
                        '<td>' + time(result.timestamp) + '</td> ' +
                        '<td>' + result.tag.split('.')[1] + '</td>' +
                        '<td>' + result.valor + '</td> ' +
                        '<td>' + result.tag.split('.')[2] + ' : ' + status + ' </td> ' +
                        '</tr>';

                    corpoTabela.prepend(linhas);

                    var ultima_linha = document.getElementById('tabela_dados').children[2].childElementCount;
                    if (ultima_linha > 15) {
                        document.getElementById('tabela_dados').deleteRow(ultima_linha)
                    };

                });
                setTimeout('', 1000);
            }
          //atualizarGrafico();
          //atualizarGraficoSomatorio(grafoSomatorio);
        });

        //--------------Botão limpar dados-------------------

        $("#buttonLimparDados").click(function () {
            $.getJSON("eventos/LimparDados", void {});
            location.reload();
        });

        function time(s) {
            return new Date(s * 1e3).toISOString().slice(-13, -5);
        };

        function retornarSudeste() {
               var value= $.ajax({ 
                  url: 'eventos/SudesteDados', 
                   async: false
               }).responseText;
               return JSON.parse(value);
        };

        function retornarSul() {
               var value= $.ajax({ 
                  url: 'eventos/SulDados', 
                   async: false
               }).responseText;
               return JSON.parse(value);
        };

        function retornarNorte() {
               var value= $.ajax({ 
                  url: 'eventos/NorteDados', 
                   async: false
               }).responseText;
               return JSON.parse(value);
        };

        function retornarNordeste() {
               var value= $.ajax({ 
                  url: 'eventos/NordesteDados', 
                   async: false
               }).responseText;
               return JSON.parse(value);
        };

        var canvas = document.getElementById('bar-chart-grouped');
        var chart = new Chart(document.getElementById("bar-chart-grouped"), {
        type: 'bar',
        data: {
          labels: ["Norte", "Nordeste", "Sudeste", "Sul"],
          datasets: [
              {
              label: "Captadas pelo Sensor01",
              backgroundColor: "#3e95cd",
              data: [1, 1, 1, 1]
            }, {
              label: "Captadas pelo Sensor02",
              backgroundColor: "#8e5ea2",
              data: [1,1,1,1]
              },
          ]
        },
        options: {
                    scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 1,
                    suggestedMax: 15
                }
            }]
        },
          title: {
            display: true,
            text: 'Quantidade de infrações captadas por sensores'
          }
            }
        });

        function atualizarGrafico(chart, data, datasetIndex) {
            chart.data.datasets[0].data = [retornarNorte().sensor01, retornarNordeste().sensor01, retornarSudeste().sensor01, retornarSul().sensor01];
            chart.data.datasets[1].data = [retornarNorte().sensor02, retornarNordeste().sensor02, retornarSudeste().sensor02, retornarSul().sensor02];
            chart.update();
        }

      setInterval(function() {
          atualizarGrafico(chart);
          atualizarGraficoSomatorio(grafoSomatorio);
      }, 1500);




        //var grafo = document.getElementById('char-somatorio');
        var grafoSomatorio = new Chart(document.getElementById("char-somatorio"), {
        type: 'bar',
        data: {
          labels: ["Norte", "Nordeste", "Sudeste", "Sul"],
          datasets: [
              {
              label: "Somatório por região",
              backgroundColor: "#B2BABB",
              data: [1, 1, 1, 1]
            }
          ]
        },
        options: {
                    scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 1,
                    suggestedMax: 20
                }
            }]
        },
          title: {
            display: true,
            text: 'Somatório dos sensores lidos com sucesso'
          }
            }
        });

        function atualizarGraficoSomatorio(grafoSomatorio) {
            grafoSomatorio.data.datasets[0].data = [retornarNorte().total, retornarNordeste().total, retornarSudeste().total, retornarSul().total];
            grafoSomatorio.update();
        }

        
    </script>
}
