﻿
@{
    ViewData["Title"] = "Sobre";
}

<h2>Sobre</h2>


<h3>Como o sistema funciona?</h3>

<p>Olá! Me chamo Jonathan e estou no processo seletivo da RADIX! :)</p>
<p>
    O sistema irá consumir o número de ultrapassagens de velocidade no trânsito por segundo, captados por radares (sensores) de trânsitos nas regiões Sul, Sudeste, Norte e Nordeste.
</p>

<p>Os dados serão adicionados em uma tabela dinâmica, com os avisos se foram ou não processados. E, junto a isso, montar um gráfico que mostre a quantidade de multas feitas por dia em suas respectivas regiões (Sul, Sudeste, Norte e Nordeste).</p>

<p>O site foi desenvolvido para consumir uma WebAPI que retorna os dados pedidos para o desafio.</p>
<p>A criação da API foi feita no site: <a href="https://randomapi.com/">Random API</a>. Onde é possível escrever API's utilizando código Javascript (Código foi disponibilizado na pasta API, na raiz do projeto).</p>
<p>Pela limitação do RandomAPi ser de 500 chamadas diárias, criei um método no dot.net que retorna jsons para trabalhar com ele no front-end.</p>
<p>Ou seja, os dados podem ser gerados tanto pela API, quanto pelo .net.</p>



<p>Agradeço a Radix pela oportunidade! Foi uma experiência muito boa aprender a fazer um pequeno sistema desses. Aprendi muita coisa nova durante esses 5 dias e isso foi incrível!</p>
